integration_name: com.newrelic.elasticsearch

instances:
  - name: elasticsearch
    command: "all"
    arguments:
      cluster_environment: "production"
      config_path: "/etc/elasticsearch/elasticsearch.yml"
      hostname: "localhost"
      local_hostname: "localhost"
      username: elastic
      password: changeme
      port: 9200
      use_ssl: false
      indices_regex: true
      collect_indices: true
      collect_primaries: true

